{% extends "layout.html" %}

{% block css%}

    <link href="/static/exhibit.css" rel="stylesheet">

{% endblock%}

{% block title %}

    Backpage

{% endblock %}

{% block header %}

    Thank You For Visiting!

{% endblock %}

{% block breadcrumb %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/exhibit1">Exhibit #1</a></li>
        <li class="breadcrumb-item"><a href="/exhibit2">Exhibit #2</a></li>
        <li class="breadcrumb-item"><a href="/exhibit3">Exhibit #3</a></li>
        <li class="breadcrumb-item"><a href="/exhibit4">Exhibit #4</a></li>
        <li class="breadcrumb-item active" aria-current="page">Backpage</li>
    </ol>
</nav>

{% endblock %}

{% block main %}

<div class="block">
    <div class="text-block">
        <div class="text">
            <h2>Sources:</h2>
            <p class="sources">
                “Bennett’s New Deal.” The Canadian Encyclopedia, 20 Jan. 2021,<br>
                &emsp;&emsp;<a href="https://www.thecanadianencyclopedia.ca/en/article/bennetts-new-deal">www.thecanadianencyclopedia.ca/en/article/bennetts-new-deal.</a> Accessed 29 Apr. 2024.<br>
                Canada, Veterans Affairs. Dieppe - Veterans Affairs Canada. 28 Dec. 2023,<br>
                &emsp;&emsp;<a href="https://www.veterans.gc.ca/en/remembrance/wars-and-conflicts/second-world-war/battle-of-dieppe">www.veterans.gc.ca/en/remembrance/wars-and-conflicts/second-world-war/battle-of-dieppe.</a> Accessed 29 Apr. 2024.<br>
                CBC News Indepth: Agriculture. 6 Aug. 2004,<br>
                &emsp;&emsp;<a href="https://www.cbc.ca/news2/background/agriculture/drought1930s.html">www.cbc.ca/news2/background/agriculture/drought1930s.html.</a> Accessed 29 Apr. 2024.<br>
                History.com Editors. “The Holocaust.” History, A&E Television Networks, 11 Apr. 2023,<br>
                &emsp;&emsp;<a href="https://www.history.com/topics/world-war-ii/the-holocaust">www.history.com/topics/world-war-ii/the-holocaust.</a> Accessed 29 Apr. 2024.<br>
                “Lawrence Eldred Kirk.” The Canadian Encyclopedia, 16 Dec. 2013,<br>
                &emsp;&emsp;<a href="https://www.thecanadianencyclopedia.ca/en/article/lawrence-eldred-kirk">www.thecanadianencyclopedia.ca/en/article/lawrence-eldred-kirk.</a> Accessed 29 Apr. 2024.<br>
                “R.B. Bennett.” The Canadian Encyclopedia, 19 Mar. 2021,<br>
                &emsp;&emsp;<a href="https://www.thecanadianencyclopedia.ca/en/article/richard-bedford-viscount-bennett">www.thecanadianencyclopedia.ca/en/article/richard-bedford-viscount-bennett.</a> Accessed 29 Apr. 2024.
            </p>
        </div>
    </div>
</div>

{% endblock %}
